* {
  font-family: roboto;
  font-size: 14px;
  font-style: italic;
}

.color1 {
  color: rgb(173, 29, 37);
}

.color2 {
  color: rgb(255, 255, 255);
  background-color: orange;
}

.color3 {
  color: rgb(30, 71, 133);
}

.logo {
  fill: orange;
}
